body {
    background-color:gray;
    color: rgb(18, 18, 20);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:7% 7%;
}

header {
    background-color: rgb(77, 89, 107);
    color: #fff;
    display: block;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.main-content {
    background-color:rgb(255, 252, 247);
    box-sizing: border-box;
    display: block;
    padding: 20px;
}

section {
    padding: 20px;
}
h2 {
    font-style: italic;
}

h3 {
    margin-bottom: 0;
    padding-left: 20px;
}

p {
    margin-top: 8px;
    font-size: small;
    padding-left: 40px;
    color: gray;
}

span {
    color:  rgb(77, 89, 107);
    display: contents;
    margin-left: 20px;
}

.main-content-line {
    border-top: 2px solid rgb(77, 89, 107);
}
li {
    list-style-type: circle;
}
